*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
body header{
    width: 100%;
    background-color: blue;
    padding: 10px 30px;
}
.main-container{
    max-width: 1500px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
 
}
.text-color{
    color:#ffffff
}
.text-weight{
    font-weight: 700;
}

/* hanel vergum */
 /* ul a{
    display: none;
}   */
body header nav.main-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.visually-hidden{
    display: none;
}
.score-settings-navigation li{
    padding: 2px 10px 3px 0;
    margin-right: 20px;
}
header{
    margin-bottom: 30px;
}
.game-container{
    width: 70%;
    margin: 30px auto;
    padding: 10px 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
}
.game-container p{
    display: none;
    color: #080808;
    height: 150px;
    width: 400px;
    font-size: 24px;
    background-color: #ffffff;
    border: 2px solid transparent;
    text-align: center;
    line-height: 150px;
    position: absolute;
    top: center;
    right: center;
    
    
}
.title{
    margin-bottom: 30px;
    text-shadow: 2px 5px 1px rgb(208, 190, 190);
    text-transform: uppercase;
}
/* .guide-navigation-list-item::before{
    content:url('/image/77-775759_ask-ask-icon-png-transparent-png.png'); 
    display: inline-block;
    color: black;
} */
.board-container{
    width: 33%;
    min-width: 350px;
    margin-bottom: 60px;
}
.board-container, .keyboard-container{
    padding: 10px 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}

.board-container .board-cell{
    min-height: 50px;
    min-width: 50px;
    padding: 3px 10px;
    margin: 0 0 3px 7px;
    border: 2px solid transparent;
    background-color: #ffffff;
    border-radius: 7px;
    text-align: center;
    line-height: 45px;
    text-transform:uppercase;
    color: black;
    text-transform: uppercase;

}   
.board-cell-green{
    background-color:rgb(3, 75, 3) !important;
}
.board-cell-grey{
    background-color:grey !important;
}
.board-cell-yellow{
    background-color:yellow !important;
}
.keyboard-container {
    width: 1000px;
    
 
}
.row{
    padding: 5px 15px;
    display: flex;
   
}
.btn-key{
    min-width: 50px;
    min-height: 60px;   
    margin: 3px;
    padding: 7px 12px;
    border-radius: 7px;
    border: none;
    background: rgb(40, 39, 39);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: inherit;
    box-shadow: 1px 7px 8px 2px rgba(150, 147, 147, 0.8);
 
  
}
.btn-key:nth-child(16),
.btn-key:nth-child(27){
    width: 110px;
   
}
.btn-key:nth-child(16){
    margin-left: 80px;
}
.btn-key:nth-child(1),.btn-key:nth-child(28){
    margin-left: 70px;
}
.btn-key:hover{
    background-color: #ffffff;
    color:rgb(40, 39, 39); ;
}
/* guide style */
.guide{
    color: #ffffff;
    font:24px Verdana, Geneva, Tahoma, sans-serif;
 
}
.explanation, .example{
    border-bottom: 5px double rgb(101, 99, 99);
}
.explanation p, .example p, .example h4{
    padding: 5px 12px;
    margin-bottom: 15px;
}
.guide .board-container .board-cell.first-el{
    background-color: rgb(3, 75, 3);
}
.guide .board-container .board-cell.second-el{
    background-color: rgb(207, 207, 45)
}
.guide .board-container .board-cell.forth-el{
    background-color: rgb(91, 91, 89)
}
.guide .title{
    text-align: center;
}
.guide a{
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px 10px 15px;
    text-decoration: none; 
    text-align: center;
}
.guide a:hover{
    background: #ffffff ;
    color: black;
    border-radius: 10px/15px;
}
